
.smbtn .swiper-button-prev, .smbtn .swiper-button-next{
    width: 30px !important;
    height: 30px !important;
    max-width:30px !important;
    border-radius: 100% !important;
    top: 55% !important;
    background-color: white !important;
  }

.smbtn .swiper-button-prev::after, .smbtn .swiper-button-next::after{
  font-size: 20px !important;
  color: #000 !important;
}

